<% if @user.id == @collection.user_id %>

  <%= form_for @collection, :html => {class: 'edit-form'} do |f| %>
    <br>
    <%= f.label :title, "TITLE" %>
    <br>
    <%= f.text_field :title, class: 'text-input'%>
    <br>
    <%= f.label :description, "DESCRIPTION" %>
    <br>
    <%= f.text_field :description, class: 'text-input' %>
    <br>
    <%= f.radio_button :is_private, true %>
    <%= label :is_private, "PRIVATE" %>
    <%= f.radio_button :is_private, false %>
    <%= label :is_private, "PUBLIC" %>
    <br>
    <%= f.submit "UPDATE", class: 'edit-btn' %>
    <% end %>

  <%= link_to "DELETE", collection_path(@collection), method: :delete, class: 'edit-btn' %>


  <div class="edit-collection-artwork-container">
    <% @artworks.each do |artwork| %>
      <div class="edit-collection-artwork">
        <img src="<%= artwork.thumbnail %>" class="edit-img" title="{{artwork.title}}">
        <!-- <p><%= artwork.title %></p> -->
        <br>
        <%= link_to "X", api_collection_artwork_path(artwork.collection_id, artwork.id), method: :delete,  class: "x-delete" %>
          <%= form_tag collection_path(@collection), method: "put" do %>
            <%= hidden_field_tag 'collection[default_image]', artwork.thumbnail %>
            <%= submit_tag "SET AS WALLPAPER", class: 'clear-btn wallpaper-btn' %>
          <% end %>

      </div>
    <% end %>
  </div>
<% end %>
