<div class="collection-type">YOUR COLLECTIONS</div>
<div class="collection-container">
  <% @your_collections.reverse_each do |collection| %>
    <%= link_to collection_path(collection.id) do %>
      <div class="collection" style="background-image: url('<%= collection.default_image %>');">
        <%= collection.title %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="collection-type">EXPLORE COLLECTIONS</div>
<div class="collection-container">
  <% @all_collections.reverse_each do |collection| %>
    <%= link_to collection_path(collection.id) do %>
      <div class="collection" style="background-image: url('<%= collection.default_image %>');">
        <%= collection.title %>
      </div>
    <% end %>
  <% end %>
</div>
