<h2>Log In</h2>

<%= form_tag '/sessions', method: :post do %>
  <%= label_tag :username, "USERNAME"  %>
  <br>
  <%= text_field_tag :username %>
  <br>
  <%= label_tag :password , "PASSWORD" %>
  <br>
  <%= password_field_tag :password %>
  <br>
  <%= submit_tag "LOG IN" %>
<% end %>
<p>Don't have an account? <%= link_to "Sign Up!", new_user_path %></p>
