<div class="collection-type">
  <h4>YOUR COLLECTIONS</h4>
</div>
<div class="collection-container">
  <% @your_collections.each do |collection| %>
    <%= link_to collection_path(collection.id) do %>
      <div class="collection" style="background-image: url('<%= collection.default_image %>');">
        <%= collection.title %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="collection-type">
<h4>EXPLORE COLLECTIONS</h4>
</div>
<div class="collection-container">
  <% @all_collections.each do |collection| %>
    <%= link_to collection_path(collection.id) do %>
      <div class="collection" style="background-image: url('<%= collection.default_image %>');">
        <%= collection.title %>
      </div>
    <% end %>
  <% end %>
</div>
