<% if @user.id == @collection.user_id %>

<h3>EDIT COLLECTION</h3>

<h4><%= link_to "DELETE COLLECTION", collection_path(@collection), method: :delete %></h4>

  <%= form_for @collection do |f| %>

    <%= f.label :title, "Title" %>
    <br>
    <%= f.text_field :title%>
    <br>
    <%= f.label :description %>
    <br>
    <%= f.text_field :description %>
    <br>
    <%= f.radio_button :is_private, true %>
    <%= label :is_private, "PRIVATE" %>
    <%= f.radio_button :is_private, false %>
    <%= label :is_private, "PUBLIC" %>
    <br>
    <%= f.submit class: 'clear-btn' %>
    <% end %>

  <div class="edit-collection-artwork-container">
    <% @artworks.each do |artwork| %>
      <div class="edit-collection-artwork">
        <img src="<%= artwork.thumbnail %>" class="edit-img">
        <!-- <p><%= artwork.title %></p> -->
        <h4><%= link_to "X", api_collection_artwork_path(artwork.collection_id, artwork.id), method: :delete %></h4>
        <h6>
          <%= form_tag collection_path(@collection), method: "put" do %>
            <%= hidden_field_tag 'collection[default_image]', artwork.thumbnail %>
            <%= submit_tag "SET AS WALLPAPER", class: 'clear-btn' %>
          <% end %>
        </h6>
      </div>
    <% end %>
  </div>
<% end %>
