<h3>New Collection</h3>

<%= form_for @collection do |f| %>

  <%= f.label :title %>
  <br>
  <%= f.text_field :title, class: 'text-input' %>
  <br>
  <%= f.label :description %>
  <br>
  <%= f.text_field :description, class: 'text-input' %>
  <br>
  <%= f.radio_button :is_private, true %>
  <%= label :is_private, "Private Collection" %>
  <%= f.radio_button :is_private, false %>
  <%= label :is_private, "Public Collection" %>
  <br>
  <%= f.submit class: 'clear-btn' %>
<% end %>
