<h2><%= @collection.title %></h2>

<h4><%= @collection.description %></h4>

<% if @user.id == @collection.user_id %>
  <h3><%= link_to "DELETE COLLECTION", collection_path(@collection), method: :delete %></h3>
  <h3><%= link_to "SEARCH", search_path %></h3>
<% end %>



  <% @artworks.each do |artwork| %>

    <img src="<%= artwork.thumbnail %>">
    <p><%= artwork.title %></p>
  <% end %>
